source /usr/share/cachyos-fish-config/cachyos-config.fish

# overwrite greeting
# potentially disabling fastfetch
#function fish_greeting
#    # smth smth
#end


# Added by Antigravity CLI installer
set -gx PATH "{{ .chezmoi.homeDir }}/.local/bin" $PATH

# Keep this machine's Pi command path
fish_add_path "$HOME/.pi/agent/bin"
if status is-interactive; and type -q starship
    starship init fish | source
end
